cat > .gitignore << EOF
venv/
__pycache__/
*.pyc
.env
*.json
.DS_Store
EOFinfrastructure/.terraform/
infrastructure/terraform.tfstate
infrastructure/terraform.tfstate.backup
infrastructure/terraform.tfvars
